{% extends "baseManager.html.twig" %}

{% block css_include %}
    {{ parent() }}
    <link href="{{ asset('css/manager/login/login.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}

    <div class="container">

        <form class="form-signin" action="{{ path('manager_login_check') }}" method="post">
            <h2 class="form-signin-heading">Please sign in</h2>
            <input type="text" class="input-block-level" placeholder="Login" name="_username">
            <input type="password" class="input-block-level" placeholder="Password" name="_password">
            <label class="checkbox">
                <input type="checkbox" value="remember-me"> Remember me
            </label>
            <button class="btn btn-large btn-primary" type="submit">Sign in</button>
            {{ error }}
        </form>

    </div>


{% endblock %}

