{% extends "GraphNewsUserBundle::user.html.twig" %}
 
{% block content %}

    {% include "GraphNewsUserBundle::alert.html.twig" %}

    <div class="form">
       <form action="{{ path('graphnews_user_manage_adduser') }}" {{ form_enctype(form) }} method="GraphNewsT" novalidate="novalidate">
            {{ form_widget(form) }}
        </form>
    </div>
 
{% endblock %}

