.admin-form-button{
    padding: 10px;
    margin: 10px 0;
    background-color: lightgrey;
    border-radius: 10px;
}

.content-error{
    padding-top: 10px;
}

.ace-editor{
    width: 700px;
    height: 500px;

}