{% extends "::front/base.html.twig" %}

{% if nav_active is not defined %}
    {% set nav_active = "" %}
{% endif %}

{% block body %}

    <div class="site-masthead">
        <div class="container">
            <nav class="site-nav">
                <a class="site-nav-item {% if nav_active == "home" %}active {% endif %}" href="/">Home</a>
                <a class="site-nav-item" href="#">New features</a>
                <a class="site-nav-item" href="#">Press</a>
                <a class="site-nav-item {% if nav_active == "about" %}active {% endif %}" href="/about">About</a>
            </nav>
        </div>
    </div>
    {% block carousel %}
    {% endblock %}
<div class="container marketing">
    {% block content %}
    {% endblock %}
</div>

{%  endblock %}